form {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

input {
  color: #222831;
  background-color: #eeeeee;
}

select {
    color: #222831;
    background-color: #eeeeee;
}

li button {
  color: #222831;
  background-color: #eeeeee;
}

label {
  color: #eeeeee
}

h2 {
  color: #eeeeee
}

ul {
  display: flex;
  flex-direction: column;
}

.deck-list-items {
  color: #eeeeee;
  border: 3px solid #ffd369;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #222831
}

.deck-form-div{
  box-sizing: border-box;
  border: 3px solid #ffd369;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: 10px;
}

.deck-form-div * {
  margin: 2px;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.decks-container {
  padding-inline-start: 0;
}

h1 {
  color: #eeeeee;
  margin: 60px
}
