.signup-container {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
  margin-top: 60px;
  border: 3px solid #ffd369;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 300px;
}
.signup-input {
  margin: 5px;
}

.signup-button {
  margin: 20px;
  width: 150px;
}

.signup-labels {
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-start;
}


.errors {
  color: red;
  list-style-type: none;
}
