/* .nav-container{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: #393030;
  width: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/



.nav-list-items{
  list-style-type: none;
  /* margin: 10px; */
  display: flex;
  justify-content: space-around;
  /* width: inherit; */
}

.nav-elements{
  text-decoration: none;
  align-self: center;
  vertical-align: middle;
  height: 100%;
}

/* .profile-button{
  height: 40px;
  width: 40px;
  background: #eeeeee;
  border: none;
  /* height: inherit;
} */


/* .profile-dropdown {
  display: flex;
  flex-direction: column;
} */

.profile-items{
  text-decoration: none;
  list-style-type: none;
  border: none;
}
/* ul {
  width: inherit;
} */

.nav-bar {
  background-color: #eeeeee;
  opacity: 0.9;
  list-style-type: none;
  display: inline-block;
  /* padding: 5px 5px 5px 5px; */
  /* justify-content: center;
  align-items: center; */
  font-size: 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  text-decoration: none;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 50px;
  margin: 0;

}

.nav-bar li:hover {
  color: #222831;
  position: sticky;
  border-bottom: 4px solid#222831;
}

.nav-bar * {
  color: #323232;
  /* padding: 5px; */
  /* border-radius: 4px;
  border: 1px; */
}

.profile-dropdown {
  background-color: #eee;
  border: none;
}

li {
  display: inline;
}

.nav-items-constainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-right: 15px;
  height:100%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list-items button{
  height: 100%;
  margin: 20px;
}
